@font-face {
	font-family: 'FiraSans-Thin';
	src: url(./../fonts/FiraSans/FiraSans-Thin.ttf) format('truetype');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'FiraSans-Light';
	src: url(./../fonts/FiraSans/FiraSans-Light.ttf) format('truetype');
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-family: 'FiraSans-Regular';
	src: url(./../fonts/FiraSans/FiraSans-Regular.ttf) format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'FiraSans-Medium';
	src: url(./../fonts/FiraSans/FiraSans-Medium.ttf) format('truetype');
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: 'FiraSans-ExtraBold';
	src: url(./../fonts/FiraSans/FiraSans-ExtraBold.ttf) format('truetype');
	font-style: normal;
	font-weight: 800;
}