$color-000: #171919;
$color-001: #4af6cd;
$color-002: #979797;
$color-003: #ffffff;
$color-004: #161919;
$color-005: #d8d8d8;
$color-006: #323232;
$color-007: #dadada;
$color-008: #000000;
$color-009: #0f1010;
$color-010: #1c2121;
$color-011: #222532;